<%
=begin%>
****** props: ******
showButton: boolean
backButton: boolean
formTitle: string
<%
=end%>

<%= form_with(model: client) do |form| %>
  <% if client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="card card-wrapper">
  <div class="card-header bg-dark font-light">
    <h2><%= formTitle %></h2>
  </div>

  <div class="card-body">

    <div class="field form-group mb-3px">
      <%= form.text_field :first_name, class:"form-input form-control"  %>
      <%= form.label :first_name, class:"form-label mb-3px" %>
    </div>

    <div class="field form-group mb-3px">
      <%= form.text_field :last_name, class:"form-input form-control" %>
      <%= form.label :last_name, class:"form-label mb-3px" %>
    </div>

    <div class="field form-group mb-3px">
      <%= form.text_field :email, class:"form-input form-control" %>
      <%= form.label :email, class:"form-label mb-3px" %>
    </div>

    <div class="field form-group mb-3px">
      <%= form.text_field :number, class:"form-input form-control" %>
      <%= form.label :number, class:"form-label mb-3px" %>
    </div>

  </div>
</div>

<br>

<div class="form-submit-wrapper">
  <%= form.submit class:"btn btn-success" %>

  <% if showButton%> |
    <%= link_to 'Show', @client, class: "btn btn-primary" %>
  <% end%>

  <% if backButton%> |
    <%= link_to 'Back', clients_path, class: "btn btn-dark" %>
  <% end%>

</div>
  <br>
<% end %>
